<div class="nav-items">
    <div class="nav-item">
        <fa-icon [icon]="faBed"></fa-icon>
        <span routerLink="/home">Patients</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faHospitalUser"></fa-icon>
        <span routerLink="/appointments">Doctors</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faCalendar"></fa-icon>
        <span routerLink="/appointments">Appointments</span>
    </div>
    <div class="nav-item">
        <fa-icon [icon]="faMedkit"></fa-icon>
        <span>Medicines</span>
    </div>
</div>
