
<table class="table table-hover text-nowrap table-primary">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Blood Type</th>
            <th>Prescription</th>
            <th>Dose</th>
            <th>Fees</th>
            <th>Urgency</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let patient of patients" >
            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.blood}}</td>
            <td>{{patient.prescription}}</td>
            <td>{{patient.dose}}</td>
            <td>{{patient.fees}}</td>
            <td>{{patient.urgency}}</td>
        </tr>
        <!-- Additional rows can be added here -->
    </tbody>
</table>
