<div class="table-responsive small">
    <table class="table table-striped">
      <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Age</th>
            <th scope="col">Blood Type</th>
            <th scope="col">Prescription</th>
            <th scope="col">Dose</th>
            <th scope="col">Fees</th>
            <th scope="col">Urgency</th>
          
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
            <td>{{patient.id}}</td>
            <td>{{patient.name}}</td>
            <td>{{patient.age}}</td>
            <td>{{patient.blood}}</td>
            <td>{{patient.prescription}}</td>
            <td>{{patient.dose}}</td>
            <td>{{patient.fees}}</td>
            <td>{{patient.urgency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
