.main-container {
    display: flex;
    .side-nav {
        width: 250px;
        min-width: 130px;
        min-height: calc(100vh - 70px);
        background-color: #113c60;
        color: #fff;
        box-sizing: 5px 5px 5px #939393;

    }
}

.main {
    padding: 30px;
}